
#reloj {
    
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
    padding: 10px;
    text-align: center;
}
